<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    
  </head>
  <body>


     <% if (user) {%>
    <div class="alert alert-primary" role="alert">
 welcome <h1> <%= user.username %></h1>
</div> 
    <a href="/log-out" class="btn btn-danger">LOG OUT</a>  <a href="/" class="btn btn-primary">HOME</a>
  <% } else { %>

   <h1>please log in</h1>


    <div class="text-center" style="width: 500px;">
  <form action="/log-in" method="POST" autocomplete="off">

  <div class="form-group">
    <label for="exampleInputName">Name</label>
    <input type="text" name="username" class="form-control" id="exampleInputName" aria-describedby="emailHelp" placeholder="enter name">
    
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    </div>

    <%}%>
   
   

    
  </body>
</html>